<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Factory_Method_Pattern/src/factory/test/GenerateBill.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="factory.test.GenerateBill"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Factory_Method_Pattern"/>
</launchConfiguration>
